*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu';
    max-width: 1200px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
header{
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;

}